$color-50: #B5C0E6;
$color-100: #A6B3E1;
$color-150: #97A6DC;
$color-200: #8799D7;
$color-300: #6980CD;
$color-400: #4A66C3;
$color-500: #3953AB;
$color-600: #2E4289;
$color-700: #223266;
$color-750: #1C2955;
$color-800: #172144;
$color-850: #111933;